<mat-sidenav-container fullscreen>
  <mat-sidenav
    #sidenav
    [opened]="showSideNav"
    (keydown.escape)="sidenav.close()"
    (closedStart)="closeSideNav()"
    disableClose
  >
    <app-nav-bar
      name='Employee'
      description="View employee data"
      route="/employee"
      (closeSideNav)="closeSideNav()"
      *ngIf="(isLoggedIn | async) === true"
    >
    </app-nav-bar>

    <app-nav-bar
      name='Sign In'
      route="/login"
      (closeSideNav)="closeSideNav()"
      *ngIf="(isLoggedIn | async) === false"
    >
    </app-nav-bar>

    <app-nav-bar
      name='Sign Out'
      (closeSideNav)="logout()"
      *ngIf="(isLoggedIn | async) === true"
    >
    </app-nav-bar>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="openSideNav()" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    Employee Dashboard
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
